@import url("https://fonts.googleapis.com/css2?family=Asap&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::before,
*::after {
  box-sizing: border-box;
}
html,
body {
  overscroll-behavior-x: none;
  overscroll-behavior-y: none;
  scroll-behavior: smooth;
}
body {
  font-family: "Asap", sans-serif;
  position: relative;
  width: 100vw;
  min-height: 100vh;
  text-align: center;
  overflow-x: hidden;
  background: black;
  color: white;
}

:root {
  --angle: 0deg;
}
@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}
#bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url('messi.gif');
  background-size: cover;
  --origin: bottom center;
  background-position: var(--origin);
  transform-origin: center;
  transform: scale3d(1.3, 1.3, 1);
  filter: hue-rotate(var(--angle)) url(#noise);
  animation: anim 30s linear infinite;
}
@keyframes anim {
  0% {
    --angle: 0deg;
  }
  100% {
    --angle: 360deg;
  }
}

svg {
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  z-index: -1;
}

main {
  position: relative;
  mix-blend-mode: color-dodge;
}
section {
  position: relative;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
h2 {
  font-size: 1.2rem;
}
#credit {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
a {
  color: currentColor;
}



/* Variables */
:root {
  --color-bg: #aaa;
  --color-fg: #555;
  --color-dynamic: #f00;
  --ratio: 1.618;
}

/* Specific features */
.fragment {
  background: var(--color-bg);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fragment::after {
  animation: noise 9s steps(10) infinite;
  background: url('silva.gif');
  content: '';
  height: 500%;
  left: -100%;
  opacity: 0.6;
  position: fixed;
  top: -100%;
  width: 500%;
}

@keyframes noise {
  0% {
    transform: translate(0, 0);
  }

  10% {
    transform: translate(-3%, -6%);
  }

  20% {
    transform: translate(-9%, 3%);
  }

  30% {
    transform: translate(12%, -9%);
  }

  40% {
    transform: translate(-15%, 12%);
  }

  50% {
    transform: translate(-3%, -3%);
  }

  60% {
    transform: translate(12%, 0%);
  }

  70% {
    transform: translate(0%, 12%);
  }

  80% {
    transform: translate(3%, 3%);
  }

  90% {
    transform: translate(-15%, 15%);
  }

  100% {
    transform: translate(0, 0);
  }
}

/* General features */
html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

::selection {
  color: var(--color-bg);
  background-color: var(--color-fg);
}

body {
  /* Fonts from fontlibrary.org - see in <head> */
  font-family: 'EBGaramond12Regular', 'Garamond', 'Palatino Linotype', Palatino, Palladio, 'URW Palladio L', 'Book Antiqua', Baskerville, 'Bookman Old Style', 'Bitstream Charter', 'Nimbus Roman No9 L', Garamond, 'Apple Garamond', 'ITC Garamond Narrow', 'New Century Schoolbook', 'Century Schoolbook', 'Century Schoolbook L', Georgia, serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: normal;
  font-style: normal; 
  color: var(--color-fg);
  background-color: var(--color-bg);
  quotes: "«\00A0" "\00A0»" "“" "”";
  font-size: 3rem;
  letter-spacing: 0.01rem;
  line-height: var(--ratio);
  margin: 0 auto;
  padding: 0;
  min-height: 100%;
  width: 100%;
}

@media screen and (min-width: 18.75em) { /* 300px */
  body {
    /* Fluid typography
     * calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width]))); */
    font-size: calc(20px + (30 - 20) * ((100vw - 300px) / (1280 - 300)));
  }
}

@media screen and (min-width: 80em) { /* 1280 px */
  body {
    font-size: 3.0rem;
  }
}

h1,
h2,
h3 {
  letter-spacing: 0.01rem;
  margin: 0;
  line-height: var(--ratio);
  font-size: inherit;
  font-style: normal;
  font-weight: normal;
  text-align: center;
}

h1 {
  font-size: calc(var(--ratio) * 2em);
}

h2 {
  font-size: calc(var(--ratio) * 1em);
}



@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900;1000&family=Roboto:wght@300;400;500;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

nav {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
}

nav ul,
nav ul li {
  outline: 0;
}

nav ul li a {
  text-decoration: none;
}

img {
  width: 200px;
  height:200px;
  float:left;
}

h1 {
  font-size: clamp(1.2rem, 3vw, 1.5rem);
}

body {
  font-family: "Nunito", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-image: url('ronaldo.gif');
  background-repeat: no-repeat;
  background-size: cover;
}

/* MAIN MENU */

main {
  display: grid;
  grid-template-columns: 11% 89%;
  width: 95%;
  margin: 40px;
  background: rgba(16, 21, 61, 0.5);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 15px;
  box-shadow: 0 0.5px 0 1px rgba(255, 255, 255, 0.23) inset,
    0 1px 0 0 rgba(255, 255, 255, 0.6) inset, 0 4px 16px rgba(0, 0, 0, 0.12);
  z-index: 10;
}

.main-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 15px 0 0 15px;
  border-right: 1px solid rgba(255, 255, 255, 0.5);
  padding: 12px 0 20px;
  overflow: hidden;
  font-family: inherit;
}

.user-info img {
  padding: 12px 24px 6px;
  border-radius: 50%;
}

.user-info p {
  color: #fff;
  font-size: clamp(0.8rem, 3vw, 1rem);
  font-weight: 500;
  text-align: center;
  line-height: 1;
  padding: 0 6px 32px;
}

.nav-item {
  display: block;
}

.nav-item a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 1rem;
  padding: 12px 0;
  margin: 0 8px;
  border-radius: 5px;
}

.nav-item.active a {
  background: rgba(106, 109, 155, 0.5);
  text-decoration: none;
}

.nav-icon {
  width: 40px;
  height: 20px;
  font-size: 1.1rem;
}

.nav-text {
  display: block;
  width: 70px;
  height: 20px;
  letter-spacing: 0;
}

/* CONTENT */

.content {
  display: grid;
  grid-template-columns: 75% 25%;
}

/* LEFT CONTENT */

.left-content {
  padding: 30px 20px;
  color: #e5e5e5;
}

/* SLIDER */

.slider-container {
  margin: 0 auto;
  width: 100%;
}

.swiper {
  width: 100%;
  padding: 16px 0 20px;
  margin-bottom: 50px;
}

.swiper-slide {
  position: relative;
  width: 600px;
}

.swiper-slide img {
  border-radius: 20px;
  height: 300px;
  object-fit: cover;
  border: 2px solid rgba(159, 160, 168, 0.5);
}

.swiper-pagination {
  --swiper-pagination-bottom: -4px;
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color: #ffffffe7;
  transition: all 0.3s ease-in-out;
}

.swiper-pagination-bullet-active {
  background-color: #fff;
  width: 18px;
  border-radius: 8px;
}

.slide-overlay {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  row-gap: 12px;
  position: absolute;
  inset: 0;
  width: 100%;
  height: 98%;
  background: linear-gradient(
    240deg,
    transparent,
    transparent,
    rgba(38, 21, 149, 0.8)
  );
  border-radius: 20px;
  padding: 30px;
}

.slide-overlay h2 {
  font-size: clamp(1.2rem, 3vw, 2.2rem);
  font-weight: 700;
}

.slide-overlay button {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
  width: max-content;
  padding: 12px 16px;
  background: #e9e6eb2a;
  color: #e8e5e5;
  border: 1px solid rgba(159, 160, 168, 0.4);
  border-radius: 12px;
  outline: 0;
  font-size: clamp(0.7rem, 3vw, 1rem);
  font-weight: 500;
  text-transform: uppercase;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  transition: all 0.4s linear;
  cursor: pointer;
}

.slide-overlay button:is(:hover, :focus-visible) {
  background: #e9e6eb;
  color: #000;
}

/* Containers of Artist and Albums */

.containers {
  display: flex;
  align-items: center;
  padding: 0 0 12px;
  overflow-x: auto;
  cursor: grab;
}

/* ARTISTS */

.artists h1 {
  margin-bottom: 24px;
}

.artist-container {
  column-gap: 20px;
}

.artist {
  display: grid;
  grid-auto-flow: dense;
  align-items: center;
  grid-template-rows: 8fr 2fr;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
}

.artist img {
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid rgba(169, 150, 253, 0.5);
  width: 140px;
  aspect-ratio: 1/1;
  margin-bottom: 8px;
  box-shadow: rgba(221, 221, 221, 0.3) 0px 6px 18px -3px,
    rgba(221, 221, 221, 0.2) 0px -3px 0px inset;
  transition: all 0.2s;
}

.artist img:hover {
  border: 4px solid rgba(169, 150, 253, 0.6);
}

.artist p {
  font-size: clamp(0.9rem, 3vw, 1rem);
  font-weight: 500;
  text-align: center;
}

/* ALBUMS */

.albums h1 {
  margin: 60px 0 14px;
}

.album-container {
  column-gap: 24px;
}

.album {
  display: grid;
  grid-auto-flow: dense;
  grid-template-rows: 5fr 2fr;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
}

.album-frame {
  position: relative;
  width: 180px;
  aspect-ratio: 1/1;
  border: 2px solid rgba(169, 150, 253, 0.5);
  border-radius: 10px;
  box-shadow: rgba(221, 221, 221, 0.3) 0px 8px 18px -3px,
    rgba(221, 221, 221, 0.2) 0px -3px 0px inset;
  margin-bottom: 15px;
  overflow: hidden;
}

.album-frame img {
  position: absolute;
  inset: 0;
  height: 100%;
  object-fit: cover;
  transition: transform 0.8s;
}

.album-frame img:hover {
  transform: rotate(3deg) scale(1.2);
}

.album h2 {
  font-size: clamp(0.9rem, 4vw, 1.1rem);
  font-weight: 500;
  line-height: 1.3;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;

  @supports (-webkit-line-clamp: 2) {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: initial;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
}

.album p {
  font-size: clamp(0.9rem, 4vw, 1rem);
  opacity: 0.5;
}

/* Containers Scrollbar Style */

.artist-container::-webkit-scrollbar,
.album-container::-webkit-scrollbar {
  height: 10px;
}

.artist-container::-webkit-scrollbar-track,
.album-container::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0.3rem rgb(79, 78, 78);
  border-radius: 40px;
}

.artist-container::-webkit-scrollbar-thumb,
.album-container::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 0.5rem rgb(116, 116, 116);
  background-color: rgba(25, 43, 206, 0.2);
  outline: none;
  border-radius: 40px;
}

/* RIGHT CONTENT */

.right-content {
  display: grid;
  grid-template-rows: 60% 40%;
  border-radius: 0 15px 15px 0;
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  padding: 30px 20px;
  color: #e5e5e5;
}

/* SONGS */

.recommended-songs h1 {
  margin-bottom: 24px;
}

.song-container {
  align-items: center;
}

.song {
  display: grid;
  grid-template-columns: 26% auto 10%;
  align-items: center;
  margin-bottom: 16px;
}

.song-img {
  position: relative;
  width: 60px;
  border-radius: 6px;
}

.song-img img {
  aspect-ratio: 4/3;
  border-radius: inherit;
  object-fit: cover;
  border: 2px solid rgba(159, 160, 168, 0.5);
  box-shadow: rgba(221, 221, 221, 0.3) 0px 6px 18px -3px,
    rgba(221, 221, 221, 0.2) 0px -3px 0px inset;
}

.song-img .overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  inset: 0;
  width: 100%;
  height: 92%;
  background-color: rgba(169, 150, 253, 0.6);
  border-radius: inherit;
  font-size: 1.75rem;
  opacity: 0;
  transition: all 0.4s linear;
  cursor: pointer;
}

.song-img:hover .overlay {
  opacity: 1;
}

.song h2 {
  font-size: 1rem;
}

.song p,
.song span {
  font-size: 0.8rem;
  font-weight: 300;
}

.song p {
  opacity: 0.8;
}

/* MUSIC PLAYER */

.music-player {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  background: rgba(188, 184, 198, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: inset 2px -2px 6px rgba(214, 214, 214, 0.2),
    inset -3px 3px 3px rgba(255, 255, 255, 0.3);
  border-radius: 16px;
  padding: 30px 20px;
  margin-top: 20px;
}

.album-cover {
  position: relative;
}

.album-cover img {
  border-radius: 50%;
  border: 2px solid rgba(222, 215, 255, 0.9);
  max-width: 120px;
  aspect-ratio: 1/1;
  object-fit: cover;
  box-shadow: 0 10px 60px rgba(200, 187, 255, 01.75rem);
  transition: transform 0.5s ease-out;
  pointer-events: none;
  user-select: none;
}

.point {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 16px;
  background-color: rgba(17, 6, 58, 0.7);
  border: 2px solid rgba(222, 215, 255, 0.9);
  aspect-ratio: 1/1;
  border-radius: 50%;
  z-index: 2;
}

.music-player h2 {
  font-size: 1.2rem;
  font-weight: 500;
  margin: 16px 0 2px;
}

.music-player p {
  font-size: 1rem;
  font-weight: 300;
  margin-bottom: 26px;
  opacity: 0.8;
}

/* Music Player Controls */

#progress {
  appearance: none;
  -webkit-appearance: none;
  width: 100%;
  height: 6px;
  background: rgba(200, 187, 255, 0.6);
  border-radius: 4px;
  margin-bottom: 16px;
  cursor: pointer;
}

#progress::-webkit-slider-thumb {
  appearance: none;
  -webkit-appearance: none;
  background: rgb(77, 58, 162);
  width: 20px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  border: 4px solid rgb(234, 229, 255);
  box-shadow: 0 6px 10px rgba(200, 187, 255, 0.4);
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.controls button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  aspect-ratio: 1/1;
  margin: 20px;
  background: rgba(200, 187, 255, 0.6);
  border-radius: 50%;
  border: 0;
  outline: 0;
  color: #fff;
  font-size: 1.1rem;
  box-shadow: 0 4px 8px rgba(200, 187, 255, 0.3);
  cursor: pointer;
  transition: all 0.3s linear;
}

.controls button:is(:hover, :focus-visible) {
  transform: scale(0.96);
}

.controls button:nth-child(2) {
  transform: scale(1.3);
}

.controls button:nth-child(2):is(:hover, :focus-visible) {
  transform: scale(1.25);
}

/* MEDIA QUERIES */

@media (max-width: 1500px) {
  main {
    grid-template-columns: 6% 94%;
  }

  .user-info img {
    border-radius: 50%;
    padding: 12px 12px 6px;
  }

  .nav-icon {
    text-align: center;
    transform: translateY(2px);
  }

  .nav-text {
    display: none;
  }

  .content {
    grid-template-columns: 70% 30%;
  }
}

@media (max-width: 1310px) {
  main {
    grid-template-columns: 8% 92%;
    margin: 30px;
  }
}

@media (max-width: 1250px) {
  .swiper-slide {
    width: 500px;
  }

  .swiper-slide img {
    border-radius: 16px;
    height: 280px;
  }

  .artist {
    grid-template-rows: 7fr 2fr;
  }

  .artist img {
    width: 120px;
  }

  .album-frame {
    width: 160px;
  }
  
  .song {
    grid-template-columns: 29% auto 10%;
  }

  .controls button {
    margin: 15px;
  }
}

@media (max-width: 1100px) {
  .content {
    grid-template-columns: 60% 40%;
  }

  .left-content {
    padding: 40px 20px 20px;
  }

  .swiper-slide {
    width: 410px;
  }

  .swiper-slide img {
    height: 220px;
  }

  .artist {
    grid-template-rows: 5fr 2fr;
  }

  .artist img {
    width: 90px;
  }

  .album {
    grid-template-rows: 4fr 2fr;
  }

  .album-frame {
    width: 130px;
  }
  
   .song {
    grid-template-columns: 26% auto 10%;
  }

  .song:nth-child(8),
  .song:nth-child(9) {
    display: none;
  }
}

@media (max-width: 910px) {
  main {
    grid-template-columns: 10% 90%;
    margin: 20px;
  }

  .left-content {
    padding: 30px 20px 20px;
  }

  .swiper-slide {
    width: 350px;
  }

  .swiper-slide img {
    height: 180px;
  }

  .artist {
    grid-template-rows: 4fr 2fr;
  }

  .artist img {
    width: 80px;
  }

  .album {
    grid-template-rows: 3fr 2fr;
  }

  .album-frame {
    width: 100px;
  }

  .right-content {
    grid-template-rows: 55% 45%;
  }
   
  .song {
    grid-template-columns: 30% auto 12%;
  }
  
  .song:nth-child(7) {
    display: none;
  }
}

@media (max-width: 825px) {
  .content {
    grid-template-columns: 52% 48%;
  }

  .swiper-slide {
    width: 320px;
  }

  .swiper-slide img {
    height: 200px;
  }

  .slide-overlay {
    row-gap: 8px;
    padding: 12px 36px;
  }

  .slide-overlay button {
    padding: 8px 12px;
  }

  .song {
    grid-template-columns: 28% auto 10%;
  }
}

@media (max-width: 700px) {
  main {
    grid-template-columns: 15% 85%;
  }

  .content {
    grid-template-columns: 100%;
    grid-template-areas:
      "leftContent"
      "rightContent";
  }

  .left-content {
    grid-area: leftContent;
  }

  .slide-overlay {
    row-gap: 12px;
    padding: 20px 30px;
  }

  .swiper-slide {
    width: 420px;
  }

  .artist img {
    width: 110px;
  }

  .album {
    grid-template-rows: 3fr 2fr;
  }

  .album-frame {
    width: 140px;
  }

  .right-content {
    grid-area: rightContent;
    border-left: unset;
    grid-template-rows: 60% 40%;
    row-gap: 16px;
  }
  
   .song {
    grid-template-columns: 18% auto 8%;
  }

  .song:nth-child(7),
  .song:nth-child(8),
  .song:nth-child(9) {
    display: grid;
  }

  .controls button {
    margin: 20px;
  }
}

@media (max-width: 580px) {
  .swiper-slide {
    width: 340px;
  }

  .swiper-slide img {
    height: 180px;
  }

  .artist img {
    width: 80px;
  }

  .album {
    grid-template-rows: 3fr 2fr;
  }

  .album-frame {
    width: 100px;
  }
  
   .song {
    grid-template-columns: 23% auto 8%;
  }
}

@media (max-width: 450px) {
  .user-info img {
    border-radius: 50%;
    padding: 6px 6px 2px;
  }

  .swiper-slide {
    width: 320px;
  }

  .slide-overlay {
    row-gap: 8px;
    padding: 12px 36px;
  }
  
   .song {
    grid-template-columns: 25% auto 8%;
  }
}







:root {
  /* colors */
  --primary-color: #dfdfe2;
  --secondary-color: #ffffff;
  --app-background-color: #4d4d62;
  --background-color: #1b1b32;
  --foreground-color: #3b3b4f;
  --highlight-color: #f1be32;

  /* font sizes */
  --root-font-size: 16px;
  font-size: var(--root-font-size);

  /* font-families */
  --font-headline: "Roboto Mono", monospace;
  --font-family: "Lato", sans-serif;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  background-color: var(--app-background-color);
  color: var(--primary-color);
  font-family: var(--font-family);
}

h1 {
  font-size: 1.125rem;
  line-height: 1.6;
}

h2 {
  font-size: var(--root-font-size);
}

ul {
  margin: 0;
}

.container {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 5px;
}

.player,
.playlist {
  width: 450px;
  background-color: var(--background-color);
  border: 3px solid var(--foreground-color);
}

.player {
  height: 260px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
}

.player-bar,
.playlist-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5px;
  width: 100%;
  height: 30px;
  background-color: var(--foreground-color);
}

.parallel-lines {
  display: flex;
  flex-wrap: wrap;
  row-gap: 6px;
  padding: 0 5px;
}

.parallel-lines > div {
  height: 2px;
  width: 100%;
  min-width: 75px;
  background-color: var(--highlight-color);
}

.fcc-title,
.playlist-title {
  color: var(--secondary-color);
  margin: 0 10px;
  font-family: var(--font-headline);
}

.player-content {
  display: flex;
  background-color: var(--foreground-color);
  width: 430px;
  height: 200px;
  column-gap: 13px;
  align-items: center;
  justify-content: center;
}

#player-album-art {
  background-color: var(--secondary-color);
  border: 6px solid var(--background-color);
}

#player-album-art img {
  width: 150px;
  display: block;
}

.player-display {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  padding: 14px;
  background-color: var(--background-color);
  height: 153px;
  width: 226px;
}

.player-display-song-artist {
  height: 80px;
}

.player-buttons svg {
  fill: var(--primary-color);
}

.playing > svg {
  fill: var(--highlight-color);
}

.player-buttons {
  display: flex;
  justify-content: space-around;
}

button {
  background: transparent;
  border: none;
  color: var(--primary-color);
  cursor: pointer;
  font-size: var(--root-font-size);
  outline-color: var(--highlight-color);
  text-align: center;
}

.playlist-song {
  outline-color: var(--highlight-color);
}

.playlist li:not(:last-child) {
  border-bottom: 1px solid var(--background-color);
}

button:focus,
.playlist-song:focus {
  outline-style: dashed;
  outline-width: 2px;
}

/* Playlist */
.playlist {
  height: auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
}

#playlist-songs {
  width: 430px;
  height: 100%;
  background-color: var(--foreground-color);
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  padding: 8px 9px;
  visibility: visible;
  justify-content: start;
  list-style: none;
}

.playlist-song {
  display: flex;
  height: 55px;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

[aria-current="true"] {
  background-color: var(--background-color);
}

[aria-current="true"] p {
  color: var(--highlight-color);
}

.playlist-song-info {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  column-gap: 7px;
  padding: 5px 0;
  font-family: var(--font-family);
}

#player-song-title,
#player-song-artist {
  margin: 0;
}

#player-song-artist {
  color: var(--highlight-color);
  font-size: 0.75rem;
}

#player-song-title {
  font-size: 1.125rem;
}

.playlist-song-title {
  font-size: 0.85rem;
  width: 241px;
  text-align: left;
}

.playlist-song-artist {
  font-size: 0.725rem;
  width: 80px;
}

.playlist-song-duration {
  font-size: 0.725rem;
  margin: auto;
  font-family: var(--font-headline);
  width: 30px;
}

.playlist-song-delete {
  padding: 0;
  width: 20px;
  height: 20px;
}

.playlist-song-delete,
.playlist-song-delete {
  fill: var(--foreground-color);
}

.playlist-song-delete:hover circle,
.playlist-song-delete:focus circle {
  fill: #ff0000;
}

@media (max-width: 700px) {
  .player,
  .playlist {
    width: 300px;
  }

  .player {
    height: 340px;
  }

  #playlist-songs {
    height: 280px;
    padding: 5px 6px;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-color: var(--background-color) var(--secondary-color);
    scrollbar-width: thin;
  }

  #playlist-songs::-webkit-scrollbar {
    width: 5px;
  }

  #playlist-songs::-webkit-scrollbar-track {
    background: var(--background-color);
  }

  #playlist-songs::-webkit-scrollbar-thumb {
    background: var(--secondary-color);
  }

  h1 {
    font-size: 0.813rem;
  }

  h2 {
    font-size: 0.75rem;
  }

  .player-bar,
  .playlist-bar,
  .player-content,
  #playlist-songs {
    width: 280px;
  }

  .playlist-song {
    justify-content: space-between;
  }

  .playlist-song-title {
    width: 140px;
  }

  .playlist-song-artist {
    width: 40px;
  }

  .playlist-song-duration > button {
    padding: 0;
  }

  .player-content {
    display: inline;
    position: relative;
    justify-items: center;
    height: 100%;
  }

  #player-album-art {
    z-index: -100;
    height: 280px;
    box-shadow: none;
    background: #000;
  }

  #player-album-art img {
    width: 100%;
    opacity: 0.6;
  }

  .player-display-song-artist {
    padding: 0 10px;
  }

  .player-display-song-artist > p {
    white-space: pre-wrap;
  }

  .player-display {
    position: absolute;
    width: 100%;
    z-index: 1000;
    background-color: transparent;
    top: 0;
    height: 280px;
    justify-content: space-between;
    text-align: center;
  }
}






body, div, h1, h2, ul, li, i, a, p, h3, footer {
    padding: 0;
    margin: 0;
    border: 0;
}
body {

    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Poppins', sans-serif;
    color: white;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background-color: #faf7f7;
}

body a {
    color: white;
     text-decoration: none;
}

body ul li {
       list-style:none;
    margin-top: 10px;
}

p {
    font-size: 55px;
    padding-top: 20px;
    padding-bottom: 20px;
}

#center_content {
      padding-left: 60px;
}

.main_content {
    position: relative;
    width: 64%;
    height: 100%;
    Float: center 
}

.about h3 {
    padding-top: 110px;
}

.about div {
    height: 100%;
    width: 90%;
    border-radius:0.5em;
    background-color: #121212;
}

.about div p {
    font-size: 20px;
    margin: 20px 20px 20px 20px;
}

.div {

    height: 100%;
    width: 90%;
    border-radius:0.5em;
    background-color: #121212;
}

nav {
  font-family:"Rubik", sans-serif;
  color: black;
  height: 100px;
  margin: 0px;
  display:flex;
  justify-content:space-around;
}

.button {
  background-color:#FFFFFF;
  margin:20px;
  height:20px;
  width:250px;
  padding:20px;
  text-align:center;
}


:root {
    --width: 220px;
    --gap: 1rem;
    /* anim speed */
    --speed: 500ms;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 1px solid rgba(255, 255, 255, 0.25);
}

body {
    font-family: Outfit, Arial, Helvetica;
    height: 100vh;
    padding: 20px;
    background-color: white;
}

main {
    height: 100vh;
    background: #202227;
}

.slider {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.item {
    display: flex;
    align-items: center;
    width: var(--width);
    height: calc(var(--width) * 1.5);
    position: absolute;
    z-index: 1;
    border-radius: 0.25rem;
    box-shadow: 0 12px 24px -6px rgba(0, 0, 0, 1);
    transition: left var(--speed), width var(--speed), height var(--speed),
        border-radius var(--speed), opacity var(--speed);
    transition-timing-function: ease-out;
    transform-origin: center;
    overflow: hidden;
    will-change: transform, opacity;
}

.item::after {
    content: "";
    display: block;
    position: absolute;
    inset: 0;
    z-index: 0;
    box-shadow: 0px 0px 50px 25px rgba(0, 0, 0, 0.25) inset;
    transition: box-shadow var(--speed);
    will-change: transform, opacity;
}

.item img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.item:nth-child(1),
.item:nth-child(2) {
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0;
    box-shadow: none;
    opacity: 1;
    filter: blur(0);
}

.item:nth-child(3) {
    left: 50%;
}

.item:nth-child(4) {
    left: calc(50% + var(--width) + var(--gap));
    transition-delay: calc(var(--speed) * 0.2);
}

.item:nth-child(5) {
    left: calc(50% + calc(var(--width) * 2) + calc(var(--gap) * 2));
    transition-delay: calc(var(--speed) * 0.4);
}

.item:nth-child(6) {
    left: calc(50% + calc(var(--width) * 3) + calc(var(--gap) * 3));
    opacity: 0;
    transition-delay: calc(var(--speed) * 0.6);
}

.content {
    width: min(30vw, 400px);
    position: absolute;
    left: 3rem;
    z-index: 1;
    transform: translateY(25%);
    color: white;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.75);
    opacity: 0;
    display: none;
    flex-direction: column;
    gap: 1rem;
    outline: 0;
}

.content * {
    outline: 0;
}

.content .title {
    font-weight: 600;
    text-transform: uppercase;
}

.content .description {
    line-height: 1.7;
}

.content button {
    width: fit-content;
    background-color: rgba(255, 255, 255, 0.9);
    color: rgba(0, 0, 0, 0.9);
    border: 0;
    border-radius: 0.25rem;
    padding: 0.75rem;
    cursor: pointer;
    transition: background var(--speed), color var(--speed);
}

.content button:hover {
    background-color: rgba(0, 0, 0, 0.9);
    color: rgba(255, 255, 255, 0.9);
}

.item:nth-of-type(2) .content {
    display: flex;
    animation: show var(--speed) ease-in-out calc(var(--speed) / 2) forwards;
}

@keyframes show {
    0% {
        filter: blur(10px);
    }
    100% {
        opacity: 1;
        filter: blur(0);
        transform: translateY(0);
    }
}

.nav {
    display: flex;
    gap: 0.5rem;
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;
    user-select: none;
    border-radius: 100vw;
    padding: 0.25rem;
}

.nav .btn {
    background-color: rgba(255, 255, 255, 0.9);
    color: rgba(0, 0, 0, 0.9);
    padding: 0.75rem;
    border-radius: 50%;
    cursor: pointer;
    transition: background var(--speed), color var(--speed);
}

.nav .btn:hover {
    background-color: rgba(0, 0, 0, 0.9);
    color: rgba(255, 255, 255, 0.9);
}

@media (width > 650px) and (width < 900px) {
    .content .title {
        font-size: 1rem;
    }
    .content .description {
        font-size: 0.7rem;
    }
    .content button {
        font-size: 0.7rem;
    }
    .item {
        width: 160px;
        height: 270px;
    }
    .item:nth-child(3) {
        left: 50%;
    }
    .item:nth-child(4) {
        left: calc(50% + 170px);
    }
    .item:nth-child(5) {
        left: calc(50% + 340px);
    }
    .item:nth-child(6) {
        left: calc(50% + 510px);
        opacity: 0;
    }
}

@media (width < 650px) {
    .content .title {
        font-size: 0.9rem;
    }
    .content .description {
        font-size: 0.65rem;
    }
    .content button {
        font-size: 0.7rem;
    }
    .item {
        width: 130px;
        height: 220px;
    }
    .item:nth-child(3) {
        left: 50%;
    }
    .item:nth-child(4) {
        left: calc(50% + 140px);
    }
    .item:nth-child(5) {
        left: calc(50% + 280px);
    }
    .item:nth-child(6) {
        left: calc(50% + 420px);
        opacity: 0;
    }
}

.header {
    background-position: center center;
    background-size: cover;
    background-color: #000;
    position: relative;
    z-index: 2;
    text-align: center;
    padding: 200px 20px 50px;
    color: #ffffff;
    text-transform: uppercase;
    height: 200px;
  }
  .container {
    width: 60%;
    height: 200px;
    position: relative;
    display: flex;
    justify-content: space-around;
  }
  header::before {
    content: "";
    position: absolute;
    background-color: #000000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.6;
  }
  .header-title {
    width: 60%;
    font-size: 50px;
    color: #ffffff;
    text-align: center;
    position: relative;
  }
  
  .menu {
    color: #ffffff;
    display: inline-block;
    padding: 8px;
  }
  .menu-list {
    display: flex;
    list-style-type: none;
    text-align: center;
    position: absolute;
  }
  a {
    text-decoration: none;
  }

    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --roboto-font :'Roboto', sans-serif;
  --noto-sans-jp-font: 'Noto Sans JP', sans-serif;
  --poppins-font: 'Poppins', sans-serif;;
  
  --h1-font-size: clamp(20px, 10vw, 100px);
  --h2-font-size: clamp(18px, 4vw, 40px);
  --fact-font-size: 18px;
  --small-font-size: clamp(14px, 2vw, 18px);
  --medium-font-size: clamp(18px, 3vw, 24px);
  --number-font-size: clamp(18px, 8vw, 80px);
  
  --blue-color: #1b84c9;
  --yellow-color: #f3b13f;
  --black-color: #1f1f1f;
  --green-color: #169c56;
  --red-color: #e93156;
  
  --gold-color: #f3dc8d;
  --silver-color: #c5c0b4;
  --bronze-color: #d0a379;
  --dark-gold-color: #f1d67e;
  --dark-silver-color: #c1bbae;
  --dark-bronze-color: #cd9d70;
  
  --ring-size: calc(min(200px, 14vw));
  --ring-border-size: calc(var(--ring-size) * 0.1);
  --ring-offset-left: calc(var(--ring-size) + var(--ring-border-size));
  --ring-offset-top: calc((var(--ring-size) - var(--ring-border-size)) * 0.5);
  
  --logo-size-w: calc((var(--ring-size) * 3 + var(--ring-border-size) * 2) * 1.5);
  --logo-size-h: calc((var(--ring-size) * 1.5 - var(--ring-border-size) * 0.5) * 2);
  --logo-bg-color: #f1f1f1;
}

* {
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-family: var(--noto-sans-jp-font);
}

.header-wrapper {
  margin: 50px 0px 0 0;
/*   margin-bottom: 100px; */
  position: relative;
}

.gallery {
  height: calc(var(--logo-size-h) * 1.25);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr calc(var(--logo-size-w) * 0.6) 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas: 
    "p6 p6 p6 p6 . p5 p5 p4 p4"
    "p6 p6 p6 p6 . p5 p5 p4 p4"
    "p1 p1 p7 p7 . p2 p2 p2 p3"
    "p1 p1 p8 p8 . p2 p2 p2 p3";
}

.i1 {
  background: url("calcio_femminile.png");
  grid-area: p1;
}

.i2 {
  background: url("calciofemminile.jpg");
  grid-area: p2;
}

.i3 {
  background: url("debinha.gif");
  grid-area: p3;
}

.i4 {
  background: url("femminile.jpg");
  grid-area: p4;
}


.i5 {
  background: url("mbappe.jpeg");
  grid-area: p5;
}

.i6 {
  background: url("silva.gif");
  grid-area: p6;
}

.i7 {
  background: url("debinha.jpg");
  grid-area: p7;
}

.i8 {
  background: url("france.jpg");
  grid-area: p8;
}

.photo {
  background-position: center;
  background-size: cover;
}

.logo {
  clip-path: polygon(0 0, 100% 0, 80% 100%, 20% 100%);
  background: linear-gradient(to bottom, #fff, var(--logo-bg-color));
  width: calc(var(--logo-size-w) * 1);
  height: calc(var(--logo-size-h) * 1.25);
  margin: 0 auto;
  padding: 20px 0;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
}

h1 {
  font-family: var(--roboto-font);
  font-size: var(--h1-font-size);
  color: #05235b;
  text-align: center;
  margin-bottom: 2vw;
  text-shadow: 0.3vw 0.3vw 0.1vw #0d26548a;
}

.olympic-rings {
  position: relative;
  width: calc(var(--ring-size) * 3 + var(--ring-border-size) * 2);
  height: calc(var(--ring-size) * 1.5 - var(--ring-border-size) * 0.5);
  margin: 0 auto;
}

.ring {
  width: var(--ring-size);
  height: var(--ring-size);
  border: var(--ring-border-size) solid;
  border-radius: 50%;
  position: absolute;
}

.blue-ring {
  border-color: var(--blue-color);
}

.yellow-ring {
  border-color: var(--yellow-color);
  left: calc(var(--ring-offset-left) * 0.5);
  top: var(--ring-offset-top);
}

.black-ring {
  border-color: var(--black-color);
  left: var(--ring-offset-left);
}

.green-ring {
  border-color: var(--green-color);
  left: calc(var(--ring-offset-left) * 1.5);
  top: var(--ring-offset-top);
}

.red-ring {
  border-color: var(--red-color);
  left: calc(var(--ring-offset-left) * 2);
}

.ring::after, .black-ring:before {
  content: "";
  width: var(--ring-size);
  height: var(--ring-size);
  position: absolute;
  top: calc(-1 * var(--ring-border-size));
  left: calc(-1 * var(--ring-border-size));
  border: var(--ring-border-size) solid transparent;
  border-radius: 50%;
  z-index: 10;
}

.blue-ring::after {
  border-right-color: var(--blue-color);
}

.yellow-ring::after {
  border-right-color: var(--yellow-color);
  transform: rotate(-50deg);
}

.black-ring::after {
  border-bottom-color: var(--black-color);
}

.black-ring:before {
  border-right-color: var(--black-color);
  z-index: 15;
}

.green-ring::after {
  border-top-color: var(--green-color);
  border-left-color: var(--green-color);
}

.facts {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 100px;
  padding: 100px 5%;
  background: linear-gradient(to bottom, var(--logo-bg-color), #68a4cc6e 85%, #fff);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.facts .polygon {
  width: 200px;
  height: 180px;
  clip-path: polygon(0 0, 100% 0, 100% 70%, 50% 100%, 0 70%);
  background: linear-gradient(180deg, #4ab3e6, #258dbf);
  position: relative;
  margin: 20px;
}

.fact {
  width: 186px;
  height: 166px;
  clip-path: polygon(0 0, 100% 0, 100% 70%, 50% 100%, 0 70%);
  background: #1e8abd;
  padding: clamp(1px, 1.0vw, 20px) 10px;
  font-size: var(--fact-font-size);
  text-align: center;
  font-family: var(--roboto-font);
  font-weight: 500;
  color: #fff;
  position: absolute;
  top: 7px;
  left: 7px;
}

section {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 80px;
}

section .text {
  width: 40%;
  background: var(--logo-bg-color);
}

section h2 {
  width: 100%;
  font-size: var(--h2-font-size);
  color: #efefef;
/*   text-shadow: 3px 3px 3px rgba(90,95,157,0.5); */
  text-align: center;
  padding: 5px 20px;
  background: #258dbf;
}

/* section p {
  padding: 0 20px;
} */

section ul {
  padding: 30px 50px;
  font-family: var(--poppins-font);
}

section .slides-outer-container {
  width: 40%;
  min-height: 30vw;
  background: grey;
  position: relative;
}

@media only screen and (max-width: 1200px) {
  section {
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 80px;
  }
  section .text {
    width: 100%;
  }

  section .slides-outer-container {
    width: 100%;
    height: 50vw;
  }
}

.slideshow-container {
  width: 100%;
  height: 100%;
  position: relative;
}

.slide {
  width: 100%;
  height: 100%;
  display: none;
}

section .number {
  color: #f2f2f2;
  font-size: var(--small-font-size);
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.description {
  color: #f2f2f2;
/*   font-size: 18px; */
  font-size: var(--small-font-size);
  padding: 8px 12px;
  position: absolute;
  bottom: 0px;
  width: 100%;
  text-align: center;
  background: rgba(0,0,0,0.6);
}

.prev, .next {
  position: absolute;
  top: 50%;
  transform: translatey(-50%);
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
  transition: background 0.6s; 
  user-select: none;  /* Prevent text selection */
}

.prev {
  border-radius: 0 3px 3px 0;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background: rgba(0,0,0,0.8);
}

.dots {
  width: 100%;
  position: absolute;
  bottom: -30px;
  display: flex;
  justify-content: center;
}
  
.dot {
  height: 20px;
  width: 20px;
  margin: 0 4px;
  border-radius: 50%;
  display: inline-block;
  background-color: #bbb;
  cursor: pointer;
  transition: background 0.6s;
}

.dot.active, .dot:hover {
  background-color: #717171;
}




#medals-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 100px;
/*   justify-content: space-evenly; */
}

.medal-wrapper {
  width: 20%;
  max-width: 300px;
  margin: 0px 2%;
  margin-bottom: 80px;
}

.place-number {
  margin-bottom: 20px;
}

.place-number p {
  text-align: center;
  font-family: var(--roboto-font);
  font-size: var(--number-font-size);
  text-shadow: 2px 2px 3px rgba(100,100,100,0.51);
}

.medal-wrapper:nth-child(1) p {
  color: var(--silver-color);
}
.medal-wrapper:nth-child(2) p {
  color: var(--gold-color);
}
.medal-wrapper:nth-child(3) p {
  color: var(--bronze-color);
}

.lines {
  width: 100%;
  position: relative;
  margin-bottom: 10px;
}

.line-wrap {
/*   filter: drop-shadow(2px 4px 3px rgba(50, 50, 0, 0.5)); */
  filter: drop-shadow(0.12vw 0.24vw 0.18vw rgba(50, 50, 0, 0.5));
}

.line {
  max-width: 90%;
  width: 16vw;
  height: 3vw;
  clip-path: polygon(0 0, 50% 60%, 100% 0, 100% 40%, 50% 100%, 0 40%);
  margin: 0px auto;
  position: relative;
}

.line-wrap:nth-child(1) .line {
  background:var(--bronze-color);
}

.line-wrap:nth-child(2) .line {
  background:var(--silver-color);
  top: -1.2vw;
}

.line-wrap:nth-child(3) .line {
  background:var(--gold-color);
  top: -2.4vw;
}

@media only screen and (max-width: 1200px) {
  .line-wrap:nth-child(2) .line {
    top: -1vw;
  }

  .line-wrap:nth-child(3) .line {
    top: -2vw;
  }
}

@media only screen and (max-width: 800px) {
  .line-wrap:nth-child(2) .line {
    top: -0.5vw;
  }

  .line-wrap:nth-child(3) .line {
    top: -1vw;
  }
}

.medal {
  position: relative;
}

.ribbon-wrapper {
  position: relative;
}

.ribbon {
  width: 4vw;
  height: 10vw;
  margin: 0 auto;
}

.ribbon-left {
  clip-path: polygon(0 0, 50% 0, 75% 100%, 25% 100%);
  background: #dccfd7;
}

.ribbon-right {
  clip-path: polygon(50% 0, 100% 0%, 75% 100%, 25% 100%);
  position: absolute;
  top: 0;
  right: 50%;
  transform: translate(50%, 0);
  background: #1e234d;
}

.circle {
  width: 6vw;
  height: 6vw;
  border: 0.5vw solid;
  border-radius: 50%;
  margin: 0 auto;
  position: relative;
  top: -1vw;
}

.medal-wrapper:nth-child(1)  .circle {
  background: var(--silver-color);
  border-color: var(--dark-silver-color);
}

.medal-wrapper:nth-child(2)  .circle {
  background: var(--gold-color);
  border-color: var(--dark-gold-color);
}

.medal-wrapper:nth-child(3)  .circle {
  background: var(--bronze-color);
  border-color: var(--dark-bronze-color);
}

/*  */
.ribbon-text {
  width: 8vw;
  height: 2vw;
  color: #dccfd7;
  font-size: 1vw;
  font-family: var(--roboto-font);
  transform: rotate(277deg);
  position: absolute;
  top: 30%;
  right: -75%;
}

/* Selettore per la sezione */



.medal-svg-logo {
  width: 100%;
  height: 100%;
  opacity: 0.4;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("messi.gif");
}






@import url('https://fonts.googleapis.com/css?family=Archivo+Black');

body {
  font-family: 'Archivo Black', sans-serif;
  background-color: #2c2c2c;
  // background: radial-gradient(ellipse at center, #444756 0%,#1d1b26 100%);
  background: radial-gradient(ellipse at center, #29382c 0%, #0c100d 100%);
  color: #fff;
}

html,
body {
  height: 100%;
}

.main-wrapper {
  position: relative;
  padding: 0;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  position: relative;
  font-size: 60px;
  text-align: center;
  margin: 0;
  padding: 0;
  z-index: 1;
}

.noise-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  overflow: hidden;
  z-index: 10;
  
  &:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: radial-gradient(ellipse at center, rgba(0,0,0,0) 0%,rgba(0,0,0,0.75) 100%);
  }
}

.noise {
  position: absolute;
  top: -500px;
  right: -500px;
  bottom: -500px;
  left: -500px;
  background: transparent url(https://www.dropbox.com/s/h7ab1c82ctzy83n/noise.png?raw=1) 0 0;
  background-size: 320px 320px;
	opacity: .35;
	animation: noise 1s steps(8,end) infinite both;
}

@keyframes noise {
  0% {
    transform: translateX(0px,0px); }
  10% {
    transform: translate(-100px, 100px);
  }
  20% {
    transform: translate(150px, -100px);
  }
  30% {
    transform: translate(-100px,100px);
  }
  40% {
    transform: translate(100px, -150px);
  }
  50% {
    transform: translate(-100px, 200px);
  }
  60% {
    transform: translate(-200px, -100px);
  }
  70% {
    transform: translateY(50px, 100px);
  }
  80% {
    transform: translate(100px, -150px);
  }
  90% {
    transform: translate(0px, 200px);
  }
  100% {
    transform: translate(-100px, 100px);
  }
}
